@import "palette.css";
body{
  background: #607D8B;
}
.App{
  width: 100vw;
  /* height: 150vh; */
  color: #212121;
  border-color: #BDBDBD;
}

.Task{
  background: #455A64;
  overflow-y: scroll;
  border-radius: 25px;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.Additional{
  background: #455A64;
  overflow-y: scroll;
  border-radius: 25px;
}

.Calendar{
  border-width:0; 
  width:100%;
  height:600px;
}

.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}