@import "palette.css";

.App{
  width: 100vw;
  height: 100vh;
  background: #607D8B;
  color: #212121;
  border-color: #BDBDBD;
}
.SideBar{
  background: white;
  display: inline-block;
}
.Task{
  height: 50%;
  background: #455A64;
  overflow-y: scroll;
}
.Additional{
  height: 50%;
  background: #455A64;
  overflow-y: scroll;
}

.remove-btn {
  margin-right: 0.5rem;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
